[build]
  base = "polaris/polaris.shopify.com"
  publish = ".next"
  command = "cd ../.. && pnpm install && cd polaris && pnpm turbo run build --filter='@shopify/polaris-tokens' --filter='@shopify/polaris-icons' --filter='@shopify/polaris' && cd polaris.shopify.com && pnpm gen-colors && pnpm gen-assets && pnpm next-build"

[build.environment]
  NODE_VERSION = "20.10.0"
  NEXT_TELEMETRY_DISABLED = "1"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    X-Robots-Tag = "noai, noimageai"