.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--p-color-bg);
}

.Example {
  width: 100%;
}
